.gallery-bg {
  background-image: linear-gradient(
      180deg,
      rgba(0, 24, 38, 0.4) 0%,
      rgba(0, 37, 49, 0.4) 100%
    ),
    url("/img/gallery-bg-mobile-1x.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .gallery-bg {
    background-image: linear-gradient(
        180deg,
        rgba(0, 24, 38, 0.4) 0%,
        rgba(0, 37, 49, 0.4) 100%
      ),
      url("/img/gallery-bg-mobile-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .gallery-bg {
    background-image: linear-gradient(
        180deg,
        rgba(0, 24, 38, 0.4) 0%,
        rgba(0, 37, 49, 0.4) 100%
      ),
      url("/img/gallery-bg-tablet-1x.jpg");
  }
  .slide-custom- {
    width: auto !important;
    margin-top: auto;
    margin-bottom: auto;
  }

  .slide-custom {
    width: 119px;
    height: 86px;
    box-shadow: 0 0 100px 0 rgba(9, 20, 16, 0.5);
    opacity: 0.75;
  }

  .custom-slide-active {
    width: 415px;
    height: 294px;
    opacity: 1;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .gallery-bg {
      background-image: linear-gradient(
          180deg,
          rgba(0, 24, 38, 0.4) 0%,
          rgba(0, 37, 49, 0.4) 100%
        ),
        url("/img/gallery-bg-tablet-2x.jpg");
    }
  }
}

@media screen and (min-width: 1280px) {
  .gallery-bg {
    background-image: linear-gradient(
        180deg,
        rgba(0, 24, 38, 0.4) 0%,
        rgba(0, 37, 49, 0.4) 100%
      ),
      url("/img/gallery-bg-desktop-1x.jpg");
  }

  .slide-custom {
    width: 313px;
    height: 225px;
  }
  .custom-slide-active {
    width: 606px;
    height: 429px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .gallery-bg {
      background-image: linear-gradient(
          180deg,
          rgba(0, 24, 38, 0.4) 0%,
          rgba(0, 37, 49, 0.4) 100%
        ),
        url("/img/gallery-bg-desktop-2x.jpg");
    }
  }
}
