@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 100;
    src: local("Inter"),
      url("/fonts/Inter/Inter-ThinBETA.eot") format("embedded-opentype"),
      url("/fonts/Inter/Inter-ThinBETA.ttf") format("truetype"),
      url("/fonts/Inter/Inter-ThinBETA.woff") format("woff"),
      url("/fonts/Inter/Inter-ThinBETA.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 200;
    src: local("Inter"),
      url("/fonts/Inter/Inter-ExtraLightBETA.eot") format("embedded-opentype"),
      url("/fonts/Inter/Inter-ExtraLightBETA.ttf") format("truetype"),
      url("/fonts/Inter/Inter-ExtraLightBETA.woff") format("woff"),
      url("/fonts/Inter/Inter-ExtraLightBETA.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 300;
    src: local("Inter"),
      url("/fonts/Inter/Inter-LightBETA.eot") format("embedded-opentype"),
      url("/fonts/Inter/Inter-LightBETA.ttf") format("truetype"),
      url("/fonts/Inter/Inter-LightBETA.woff") format("woff"),
      url("/fonts/Inter/Inter-LightBETA.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src: local("Inter"),
      url("/fonts/Inter/Inter-Regular.eot") format("embedded-opentype"),
      url("/fonts/Inter/Inter-Regular.ttf") format("truetype"),
      url("/fonts/Inter/Inter-Regular.woff") format("woff"),
      url("/fonts/Inter/Inter-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    src: local("Inter"),
      url("/fonts/Inter/Inter-Medium.eot") format("embedded-opentype"),
      url("/fonts/Inter/Inter-Medium.ttf") format("truetype"),
      url("/fonts/Inter/Inter-Medium.woff") format("woff"),
      url("/fonts/Inter/Inter-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    src: local("Inter"),
      url("/fonts/Inter/Inter-Bold.eot") format("embedded-opentype"),
      url("/fonts/Inter/Inter-Bold.ttf") format("truetype"),
      url("/fonts/Inter/Inter-Bold.woff") format("woff"),
      url("/fonts/Inter/Inter-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Karantina";
    font-weight: 400;
    src: local("Karantina"),
      url("/fonts/Karantina/Karantina-Regular.eot") format("embedded-opentype"),
      url("/fonts/Karantina/Karantina-Regular.ttf") format("truetype"),
      url("/fonts/Karantina/Karantina-Regular.woff") format("woff"),
      url("/fonts/Karantina/Karantina-Regular.woff2") format("woff2");
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  line-height: 0;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  border-spacing: 0;
}

input:focus,
textarea:focus {
  border-color: none;
  outline: none;
}

.basic-container {
  max-width: 440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* 
  heroMobile:
          "linear-gradient(180deg, rgba(0,24,38,0.7) 0%, rgba(0,37,49,0.1) 50%), url('/img/hero-bg-mobile-1x.jpg')",
        heroDesktop:
          "linear-gradient(180deg, rgba(0,24,38,0.7) 0%, rgba(0,37,49,0.1) 50%), url('/img/hero-bg-1x.jpg')",
        aboutMobile:
         
        aboutMobileSmall: "url('/img/about-bg-mobile-320px-1x.jpg')",
        slider:
          "linear-gradient(180deg, rgba(0,24,38,0.7) 0%, rgba(0,37,49,0.1) 50%), url('/img/slider-bg-1-mobile-1x.jpg')",
        careerMobile:
          "linear-gradient(180deg, rgba(0,24,38,0.7) 0%, rgba(0,37,49,0.1) 50%), url('/img/career-mobile-1x.jpg')",
        galleryMobile:
          "linear-gradient(180deg, rgba(0,24,38,0.7) 0%, rgba(0,37,49,0.1) 50%), url('/img/gallery-bg-mobile-1x.jpg')",
        contactsMobile:
          "linear-gradient(180deg, rgba(0,24,38,0.7) 0%, rgba(0,37,49,0.1) 50%), url('/img/contacts-bg-mobile-1x.jpg')", */

@media screen and (min-width: 768px) {
  .basic-container {
    max-width: 745px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .basic-container {
    min-width: 1250px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
